[Unit]
Description=mtail
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/bin/sh -c "journalctl -f -o short-iso -n 0 | {{ bin_path }} --address={{ address }} --port={{ port }} --progs {{ progs_dir }} --logtostderr --logs -"
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target
